body{ height:550px; } 

div.fullscreen{ 
display:block; 
position:absolute; 
top:0; 
left:0; 


width:400px; 
height:550px; 
background-color: green;
} 

.syn{
  width:400px;
  height:175px;
  background-color:#fbfbfb;
}

.search{
  width:400px;
  height:200px;
  background-color:#d9d9d9;
}

.ant{
  width:400px;
  height:175px;
  background-color:#fbfbfb;
}


/*  ====================    input text   ================   */

.textbox { 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #000; 
    outline: none; 
    height:25px; 
    width: 160px; 
   } 
	


.inpWrap {
	position: fixed;
  	left: 120px;
  	top: 320px; 
    /*-webkit-transform: translate(-50%, 0); */
    
}





/*  ==================    center button ==================== */

.round-button {
}
.round-button-circle {
  width: 90px;
  height: 90px;
  position:fixed;
  top: 200px;
  left: 149px;
  
  border-radius: 50%;
  border:6px solid #cfdcec;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
    display:block;
  float:left;
  width:100%;
  padding-top:50%;
    padding-bottom:50%;
  margin-top:-1.2em;
    
  text-align:center;
  color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

/* ==========================  Button GO ============================*/
.buttonGO {
  width: 40px;
  height: 40px;
  position:fixed;
  top: 312px;
  left: 295px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   box-shadow: 0 0 2px gray;
  -webkit-border-radius: 50%;
   -moz-border-radius:50%;
   border-radius: 50%;
   
   }

.buttonGO:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.buttonGO:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

   .goText{
    color: white;
   font-size: 15px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align:center;
   line-height : 37px;
   }